{
  "presets": [
    ["env", { "targets": { "node": true } }],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "react": {
      "presets": [
        "env",
        "stage-3",
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "lodash"
      ]
    },
    "preact": {
      "presets": [
        "env",
        "stage-3",
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "lodash",
        ["transform-react-jsx", {
          "pragma": "h"
        }]
      ]
    },
    "umd": {
      "presets": [
        ["env", { "es2015": { "modules": false } }],
        "stage-3",
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "lodash"
      ]
    }
  }
}
